@charset "UTF-8";
@import './css/bootstrap.css';
/* Variables generales */
/* Mixins */
/* Estilos generales para todas las pantallas */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding: 10px;
  width: 200px;
  color: white;
  background-color: rgb(120, 60, 1);
  border-radius: 0px 5px 5px 5px;
}

h2 {
  background-color: #ecb680;
}

.h2-negro {
  color: black;
  background-color: #ecb680;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: #f5f5dc;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

/* Estilos para la barra de navegacion */
.navbar-brand img {
  width: 80px;
  height: 80px;
}

.bg-body-tertiary {
  background-color: #8b4513 !important;
}
.bg-body-tertiary a {
  color: white;
}
.bg-body-tertiary .active {
  color: white !important;
}

/* Estilos para footer */
.footer {
  display: flex;
  background-color: #804000;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
  margin-top: auto;
}
.footer .info-contacto p {
  font-size: 14px;
  margin-bottom: 5px;
}
.footer .redes-sociales a {
  font-size: 20px;
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}
.footer .redes-sociales a:hover {
  color: #ff9900;
}

/* Fin del footer */
.card, .menu .plato {
  background-color: white;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease;
  background-color: white;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease;
}
.card:hover, .menu .plato:hover {
  transform: scale(1.1);
}
.card:hover, .menu .plato:hover {
  transform: scale(1.1);
}

.price {
  font-family: "Arial", sans-serif;
  font-size: 24px;
  color: #000000;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 24px;
  color: #000000;
  text-align: center;
}

@keyframes bounce {
  0%, 20%, 50%, 60%, 80% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
  40% {
    transform: translateY(-5px);
  }
}
/* Estilos para la página de inicio - Destacados */
.menu-destacados {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  margin: 20px;
  padding: 10px;
}
.menu-destacados:hover {
  transform: scale(1.1);
}
.menu-destacados .cafes-destacados {
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 18px;
}
.menu-destacados .cafes-destacados .destacado {
  width: 100%;
}
.menu-destacados .cafes-destacados .destacado > img {
  object-fit: cover;
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

/* Fin de estilos para la página de inicio - Destacados */
/* Estilos para la página de café */
.menu-cafe {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px;
}
.menu-cafe .cafe {
  background-color: #804000;
  color: white;
  margin: 5px;
  border-radius: 50px 50px 10px 10px;
  text-align: center;
  font-size: 18px;
}
.menu-cafe .cafe > img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

/* Fin de estilos para la página de café */
/* Estilos para la página de menú */
.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px;
}
.menu .plato {
  background-color: #8b4513;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
}
.menu .plato > img {
  object-fit: cover;
  width: 100%;
  max-height: 200px;
  border-radius: 5px;
}

/* Fin de estilos para la página de menú */
/* Estilos para la página de nosotros */
.nosotros {
  display: block;
  text-align: center;
  background-color: #783c01;
  color: white;
  border-radius: 10px;
  margin: 10px;
}
.nosotros .texto-nosotros {
  padding: 20px;
  text-align: left;
}
.nosotros .texto-nosotros .nosotros-img {
  background-color: #8b4513;
  display: flex inline;
  margin-left: 50px;
  height: 250px;
  width: 250px;
}

/* Fin de estilos para la página de nosotros */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* Estilos específicos para teléfonos P */
  h1 {
    width: 200px;
  }
  .proceso-cafe {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin: 20px;
  }
  .proceso-cafe .proceso-cafe-img {
    background-color: #8b4513;
    color: white;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
  }
  .proceso-cafe .proceso-cafe-img > img {
    object-fit: cover;
    width: 100%;
    max-height: 200px;
    border-radius: 5px;
  }
  .menu {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin: 20px;
  }
  .menu .plato {
    background-color: #8b4513;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
  }
  .menu .plato > img {
    object-fit: cover;
    width: 100%;
    max-height: 200px;
    border-radius: 5px;
  }
  .menu-cafe {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin: 20px;
  }
  .menu-cafe .cafe {
    background-color: #804000;
    color: white;
    margin: 5px;
    border-radius: 5px;
    border-color: #000000;
    text-align: center;
    font-size: 18px;
  }
  .menu-cafe .cafe > img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 5px;
  }
  /* Fin de estilos para la página de café */
}
.proceso-cafe {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px;
}
.proceso-cafe .proceso-cafe-img {
  background-color: #8b4513;
  color: white;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
}
.proceso-cafe .proceso-cafe-img > img {
  object-fit: cover;
  width: 100%;
  max-height: 300px;
  border-radius: 5px;
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  H1 {
    width: 200px;
  }
  .menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 20px;
  }
  .menu .plato {
    background-color: #8b4513;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
  }
  .menu .plato > img {
    object-fit: cover;
    width: 100%;
    max-height: 200px;
    border-radius: 5px;
  }
  .menu-cafe {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 20px;
  }
  .menu-cafe .cafe {
    background-color: #804000;
    color: white;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
  }
  .menu-cafe .cafe > img {
    margin: 5px;
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 5px;
  }
}
/* Fin de estilos para la página de café */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    width: 200px;
  }
  .menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 20px;
  }
  .menu .plato {
    background-color: #8b4513;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
  }
  .menu .plato > img {
    object-fit: cover;
    width: 100%;
    max-height: 200px;
    border-radius: 5px;
  }
  .menu-cafe {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 20px;
  }
  .menu-cafe .cafe {
    background-color: #804000;
    color: white;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
  }
  .menu-cafe .cafe > img {
    margin: 5px;
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 5px;
  }
}
/* Fin de estilos para la página de café */

/*# sourceMappingURL=styles.css.map */
